<!DOCTYPE html>
<html>

<!-- Head -->
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> Senti Sense </title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link href="https://s3-us-west-2.amazonaws.com/sentisensewebsite/simple-sidebar_close.css" rel="stylesheet">

    <!-- Social Media Buttons -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- Favicon -->
    <link rel="shortcut icon"  href="https://s3-us-west-2.amazonaws.com/sentisensewebsite/fav_icon.png" type="/image/png" media='all'/>

</head><!--/head-->

<!-- Body -->
<body>

    <!--- Side Bar -->
        <div id="wrapper">

            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li style="height:15px;"> </li>
                    <li>
                        <a href="/plans">Plans</a>
                    </li>
                    <li>
                        <a href="/how_it_works">How it Works</a>
                    </li>
                    <li>
                        <a href="/about">About Senti Sense</a>
                    </li>
                    <li>
                        <a href="/meet_the_team">Meet the Team</a>
                    </li>
                    <li>
                        <a href="/contact">Contact Us</a>
                    </li>
                    <li>
                        <a href="/careers">Careers</a>
                    </li>
                    <li>
                        <br>
                        <a href="https://twitter.com/SenseSenti"> <div class="col-lg-4 fa fa-twitter"> </div> </a>
                        <a href="https://www.facebook.com/Senti-Sense-1518059768514760/"> <div class="col-lg-4 fa fa-facebook"> </div> </a>
                        <a href=" "> <div class="col-lg-4 fa fa-google-plus"> </div> </a>
                    </li>
                </ul>
            </div>

	<!-- Nav -->
	    <nav class="navbar">
                   
            <div class="container-fluid">
                        
                <div class="" id="myNavbar" align="center">
                                 
                    <div class="navbar-left collapse navbar-collapse"> 

                         <a href="/"> <img src="https://s3-us-west-2.amazonaws.com/sentisensewebsite/logo.png" class="header-image" height="50" alt="" /> </a>

                    </div>

                    <div class="navbar-right"> 
                             
                        <br>

                            <a class="hidden-xs" href="" style="text-decoration: none; color: #333333; font-size: 125%;"> <div class="glyphicon glyphicon-comment" style="color: #3f87ff;"> </div> &nbsp; Talk With a Guide &nbsp;&nbsp;&nbsp;&nbsp; </span> </a>
                                    
                            <a href="/login" style="text-decoration: none; color: #333333; font-size: 125%;"> <div class="glyphicon glyphicon-user" style="color: #3f87ff;"> </div> &nbsp; Login &nbsp;&nbsp;&nbsp;&nbsp; </a>
                                    
                            <a href="#menu-toggle" id="menu-toggle" style="text-decoration: none; color: #333333; font-size: 125%;"> <div class="glyphicon glyphicon-align-right" style="color: #3f87ff;"> </div> &nbsp; Menu &nbsp;&nbsp;&nbsp;&nbsp; </a>
                                
                    </div>
                </div>
            </div>

                </nav>

	<!-- Body --> 
    	<!-- Empty column -->
    	<div class="col-lg-2 col-xs-0"> </div>

    	<div class="col-lg-8 col-xs-12">
     	
            <div align="center" style="font-size: 250%; line-height: 70px; margin-top:12.5%;">

                Have a question? Call us <br> <span style="color: #3f87ff; font-size: 105%; !important"> (516) 965 2497 </span>
                <br>
                We have answers. Or use
                <br>
                <span style="color: #3f87ff; font-size: 90%; !important"> hello@sentisense.com </span>

                <br><br>

                <span tyle="font-size: 85%; !important"> Or just contact <a href="http://52.89.53.254:3000/team/meet" style="color: #3f87ff; font-size: 90%; !important"> Chris </a> </span> or <a style="color: #3f87ff; font-size: 90%; !important"> Vamshi </a> <span>

            </div>


    	</div>

    	<!-- Empty column -->
    	<div class="col-lg-2 col-xs-0"> </div>    


    <!-- jQuery -->
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

  </body>

</html>
