<!DOCTYPE html>
<html>

<!-- Head -->
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> Parking Bee </title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Favicon -->
    <link rel="shortcut icon"  href="https://s3.amazonaws.com/media.launchrock.com/assets/sites/site-5zehcsp14q8j6bggfh4fu4oa6/k796fl-favicon.ico" type="/image/png" media='all'/>

    <style type="text/css">

        body {
            background-image: url("https://s3-us-west-2.amazonaws.com/parkingbee/2.jpg");
            background-position: center;
            font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
            line-height: 1.42857;
            font-size: 14px;
        }    

    </style>

</head><!--/head-->

<!-- Body -->
<body>
    
    <!-- Body --> 
        <!-- Empty column -->
        <div class="col-lg-3 col-xs-0"> </div>

        <div class="col-lg-6 col-xs-12" align="center">

            <br><br><br><br><br><br><br>

            <h1 style="color:white; font-size:550%;"> 
            
            Thank You           <br>
            for Signing         <br>
            Up!                 <br>
            
            </h1>

            <br>

            <h5 style="color:white; font-size:200%"> 
                We will Notify You When We Launch. <br><br>
                In The Meantime Please share with your <br>
                freinds, family and co-workers <br>
                
                <br><br>

                Share this url <br><br>
                http://lnc.hr/7ogku 

            </h5>



            <br><br>

        </div>

        <!-- Empty column -->
        <div class="col-lg-3 col-xs-0"> </div>    


    <!-- jQuery -->
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


  </body>

</html>
