<!DOCTYPE html>
<html>

<!-- Head -->
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> Parking Bee </title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Favicon -->
    <link rel="shortcut icon"  href="https://s3.amazonaws.com/media.launchrock.com/assets/sites/site-5zehcsp14q8j6bggfh4fu4oa6/k796fl-favicon.ico" type="/image/png" media='all'/>

    <style type="text/css">

        body {
            background-image: url("https://s3-us-west-2.amazonaws.com/parkingbee/2.jpg");
            background-position: center;
            font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
            line-height: 1.42857;
            font-size: 14px;
        }    

    </style>

</head><!--/head-->

<!-- Body -->
<body>
    
    <!-- Body --> 
        <!-- Empty column -->
        <div class="col-lg-3 col-xs-0"> </div>

        <div class="col-lg-6 col-xs-12" align="center">

            <br><br><br><br><br>

            <img src="https://s3.amazonaws.com/media.launchrock.com/assets/sites/site-5zehcsp14q8j6bggfh4fu4oa6/oq3sfw-parking%20bee%20logo.png">

            <h1 style="color:white; font-size:550%;"> 
            
            Make Money Renting      <br>
            Out Your Parking        <br>
            Space.                  <br>
            
            </h1>

            <br>

            <h5 style="color:white; font-size:200%"> 
                We're Launching In State College!   <br>
                Start Earning Extra Cash While Your Spot Is Empty.

            </h5>

            <img src="https://s3.amazonaws.com/media.launchrockstaging.com/assets/sites/site-18roy9f1m70p6ix6iht0cjnp1/wzwmxy-clean-hr.png" style="width:60%; height:5% ">

            <h5 style="color:white; font-size:200%">
                Enter Your Email Adress Below. To Get First Access When Parking Bee Launches!                
            </h5>

            <br><br>

            <!-- Sign Up Form -->
            <form action="/signup" method="post">
               
                <row>
                    <div class="col-lg-5"> 
                        <div class="form-group">
                            <input type="text" class="form-control" name="email" style="width:100%; border-radius: 0px; height: 50px;" placeholder="Full Name">
                        </div> 
                    </div>
                    
                    <div class="col-lg-5"> 
                        <div class="form-group">
                            <input type="text" class="form-control" name="password" style="width:100%; border-radius: 0px; height: 50px;" placeholder="Email">
                        </div>
                    </div>
                    
                    <div class="col-lg-2"> 
                        <button type="submit" class="btn btn-warning btn-lg" style="color: #fff; width: 100%; height: 50px; border: none; background-color: #00A651; border-radius: 0px;">Submit</button>
                    </div>
                </row>

            </form>

            <br><br>

        </div>

        <!-- Empty column -->
        <div class="col-lg-3 col-xs-0"> </div>    


    <!-- jQuery -->
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


  </body>

</html>
