<!DOCTYPE html>
<html>

<!-- Head -->
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> Senti Sense </title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link href="https://s3-us-west-2.amazonaws.com/sentisensewebsite/simple-sidebar_close.css" rel="stylesheet">

    <!-- Social Media Buttons -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- Favicon -->
    <link rel="shortcut icon"  href="https://s3-us-west-2.amazonaws.com/sentisensewebsite/fav_icon.png" type="/image/png" media='all'/>

</head><!--/head-->

<!-- Body -->
<body>

    <!--- Side Bar -->
        <div id="wrapper">

            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li style="height:15px;"> </li>
                    <li>
                        <a href="/plans">Plans</a>
                    </li>
                    <li>
                        <a href="/how_it_works">How it Works</a>
                    </li>
                    <li>
                        <a href="/about">About Senti Sense</a>
                    </li>
                    <li>
                        <a href="/meet_the_team">Meet the Team</a>
                    </li>
                    <li>
                        <a href="/contact">Contact Us</a>
                    </li>
                    <li>
                        <a href="/careers">Careers</a>
                    </li>
                    <li>
                        <br>
                        <a href="https://twitter.com/SenseSenti"> <div class="col-lg-4 fa fa-twitter"> </div> </a>
                        <a href="https://www.facebook.com/Senti-Sense-1518059768514760/"> <div class="col-lg-4 fa fa-facebook"> </div> </a>
                        <a href=" "> <div class="col-lg-4 fa fa-google-plus"> </div> </a>
                    </li>
                </ul>
            </div>

	<!-- Nav -->
	    <nav class="navbar">
                   
            <div class="container-fluid">
                        
                <div class="" id="myNavbar" align="center">
                                 
                    <div class="navbar-left collapse navbar-collapse"> 

                         <a href="/"> <img src="https://s3-us-west-2.amazonaws.com/sentisensewebsite/logo.png" class="header-image" height="50" alt="" /> </a>

                    </div>

                    <div class="navbar-right"> 
                             
                        <br>

                            <a class="hidden-xs" href="" style="text-decoration: none; color: #333333; font-size: 125%;"> <div class="glyphicon glyphicon-comment" style="color: #3f87ff;"> </div> &nbsp; Talk With a Guide &nbsp;&nbsp;&nbsp;&nbsp; </span> </a>
                                    
                            <a href="/login" style="text-decoration: none; color: #333333; font-size: 125%;"> <div class="glyphicon glyphicon-user" style="color: #3f87ff;"> </div> &nbsp; Login &nbsp;&nbsp;&nbsp;&nbsp; </a>
                                    
                            <a href="#menu-toggle" id="menu-toggle" style="text-decoration: none; color: #333333; font-size: 125%;"> <div class="glyphicon glyphicon-align-right" style="color: #3f87ff;"> </div> &nbsp; Menu &nbsp;&nbsp;&nbsp;&nbsp; </a>
                                
                    </div>
                </div>
            </div>

                </nav>

	<!-- Body --> 
    	<!-- Empty column -->
    	<div class="col-lg-2 col-xs-0"> </div>

    	<div class="col-lg-8 col-xs-12">
     	
            <div style="margin-top:4.0%;">

                <row> 
                    
                    <div class="col-lg-6" align="center">  <img src="https://s3-us-west-2.amazonaws.com/sentisensewebsite/chris_head_shoot.jpg" class="header-image" height="" alt="" /> </div>
                    <div class="col-lg-6" align="left"> 

                        <h1 style="font-size: 125%; color: #3f87ff"> Cofonder </h1>
                        
                        <h1 style="font-size: 100%;"> chris@sentisense.com </h1>
                        <h1 style="font-size: 100%;"> @chris_sharkiey </h1>
                        
                        <p style="line-height: 23px;">  
                             Chris is a junior at Penn State majoring in toxicology. He is the technical brains behind the operation. Chris had a diverse background. He cut his teeth freshman year working in a bioinformatics lab and on systems integration for the Lunar Lion Team. Now a junior, Chris more recently cofounded the Nittany Data Labs (NDL) and now spends much of his time between Senti Sense and the club. Chris teaches machine learning, python, and full stack web development to new members of NDL while managing a diverse portfolio of technical and nontechnical projects. While Chris spends most his time working and coding, outside of work he enjoys relaxing with good friends, taking long walks on the beach and drinking coffee.   
                                             
                             <br>
                             <br>
                             <br>

                            <br>
                        </p>

                    </div>
                    
                </row>

                <row> 
                    
                    <div class="col-lg-6" align="right"> 
                        
                    <br><br>

                        <h1 style="font-size: 125%; color: #3f87ff"> Cofonder </h1>
                        
                        <h1 style="font-size: 100%;"> vamshi@sentisense.com </h1>
                        <h1 style="font-size: 100%;"> @vamshivoruganti  </h1>
                        
                        <p style="line-height: 23px;">  
                            Vamshi is a junior at Penn State majoring in industrial engineering. He is the marketing brains behind the operation. Well networked and an entrepreneur, Vamshi worked extensively in the Inoblue network at Penn State. Vamshi is the director of education and programming for Inoblue's boot camp program. He is also a cofounder of Nittany Data Labs with Chris and spends his time managing project acquisition for the club. Vamshi is a charismatic induvial who now focuses most of his time on growth hacking and expanding the user base for Senti Sense. Outside of Senti Sense, Vamshi enjoys candle lit dinners and hanging out with friends.   
        
                            <br>
                            <br>
                            <br>
                            <br>
             
                        </p>
                    
                    </div>
                    <div class="col-lg-6" align="center"> <br><br> <img src="https://s3-us-west-2.amazonaws.com/sentisensewebsite/vamshi_head_shoot.jpg" class="header-image" height="" alt="" /> </div>
                    
                </row>
              
            </div>

    	</div>

    	<!-- Empty column -->
    	<div class="col-lg-2 col-xs-0"> </div>    


    <!-- jQuery -->
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

  </body>

</html>
